$dark_cyan: hsl(185, 75%, 39%);
$very_dark_desaturated_blue: hsl(229, 23%, 23%);
$dark_grayish_blue: hsl(227, 10%, 46%);
$dark_gray: hsl(0, 0%, 59%);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Red+Hat+Display:wght@500&display=swap');
$font_size: 18px; //name and stats
// font-family: 'Inter', sans-serif;
// font-family: 'Red Hat Display', sans-serif;
// Weights: 400, 700

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 99vw;
    height: 97vh;

    font-family: 'Inter', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

main{

}

section{
    h1{

    }
    span{

    }
    p{

    }
}

ul{
    li{

    }
    h1{

    }
    p{
        
    }
}

footer{
    position: absolute;
    top: 94vh;

    text-align: center;
    width: inherit;

    color: darkgreen;
    font-style: italic;

    a{
        color: darkgrey;
        font-weight: bold;
        font-style: normal;
    }
    a:hover{
        color: black;
        text-decoration: none;
        font-weight: normal;
    }
}